<nav class="navbar-gamenight">
  <div class="navbar-brand-gamenight">
    <%= link_to "GameNight", root_path %>
  </div>
  <% if current_user %>
    <%= link_to signout_path, method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-sign-out fa-2x"></i>
    <% end %>
  <% else %>
    <%= link_to auth_path(provider: 'google_oauth2') do %>
    <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-google fa-stack-1x"></i>
      </span>
    <% end %>
  <% end %>
</nav>
