<div class="col-md-10 col-md-offset-1">

	<div id='calendar'></div>
</div>
<script>$(document).ready(function() {

	// page is now ready, initialize the calendar...

	$('#calendar').fullCalendar({
		eventSources: [
			{
				events: <%= raw @fullcalendar.to_json %>,
				color: "black",
				textColor: 'yellow'
			}
		]
		// put your options and callbacks here
	})

});</script>
