.friendlist {
  .list-group-item {
    cursor: pointer;
    height: 52px;
    overflow: hidden;
    white-space: nowrap;
  }

  .list-group-item:hover {
    background: $grey;
    color: white;
  }
}

/*.sidebar {
  position: fixed;
  right: 80px;
  top: 161px;
}*/
