
.groups-title{
  font-size: 5em;
  text-align: center;
}

.group-container{
  margin-bottom: 50px;
  overflow: auto;
}

// .group-image{
//   float: right;
// }

.group-name-display{
  font-size: 4em;
}


.group-members-title{
  font-size:2em;
}

.group-members {
  display:inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 6px;
  background: $grey;
  color: white;

  .delete-membership {
    cursor: pointer;
    margin-right: 8px;
  }

  .delete-membership:hover{
    color: red;
  }

  img {
    margin-right: 4px;
  }
}



.panel-friends {
  .panel-heading {
    background-color: $darkgrey;
    color: white;
  }
}


.group-container {
  border-width: 0px;

  .panel-heading {
    border: 3px solid $darkgrey;
    background: $darkgrey;
    height: 100px;

    a {
      color: white;
      vertical-align: middle;
      font-size: 3em;
    }

    a:hover {
      text-decoration: none;
    }

    img {
      border: 2px solid white;
      cursor: pointer;
    }
  }

  .panel-body {
    border-left:   4px solid $darkgrey;
    border-right:  4px solid $darkgrey;
    border-bottom: 4px solid $darkgrey;
  }
}

.delete-group {
  font-size: 2em;
  color: black;
}

.group-upload-image-form {
  input: {
    font-size: 2em;
  }
}

.panel-default > .panel-heading .badge.group-badge {
  font-size: 1.5em;
  margin-right: 10px;
  background: $lightblue;
}

.create-button {
  color: $lightblue;
  list-style: none;
}
