.delete-membership {
  cursor: pointer;
}

.groups-title{
  font-size: 3em;
  text-align: center;
}

.group-container{
  // border: 1px;
  // border-style: solid;
  margin-bottom: 50px;
  // height: 300px;
  overflow: auto;
}

// .group-image{
//   float: right;
// }

.group-name-display{
  font-size: 4em;
}

.panel-body{
  float: left;
  border: 2px solid red;
  width: 100%;
}

li {
  style: none;
}
